@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background-container {
    background-color: #875fc0;
    padding: 15px;
    margin: 8px;
    width: 90vw;
}

.score-card {
    font-size: 22px;
    color: white;
    font-weight: 500;
    font-family: "roboto";
    text-align: right;
    padding: 10px;
}

.container-1 {
    background-color: white;
    height: 42vh;
    width: 350px;
    border-radius: 8px;
}

.container-1-main-heading {
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

.container-1-para {
    text-align: center;
    font-size: 15px;
}

.image-center {
    text-align: center;
}

.image {
    height: 90px;
    width: 280px;
}

.container-2 {
    background-color: white;
    height: 50vh;
    width: 349px;
    border-radius: 8px;
    padding: 25px;
    margin-top: 10px;
}

.options {
    height: 43px;
    width: 270px;
    border-width: 1px;
    border-color: #1f2933;
    border-radius: 8px;
    border-style: solid;
    padding: 10px;
    font-family: "roboto";
    margin-right: 15px;
    margin: 5px;
}

.options-1 {
    height: 43px;
    width: 270px;
    border-width: 1px;
    border-color: #1f2933;
    border-radius: 8px;
    border-style: solid;
    padding: 10px;
    font-family: "roboto";
    background-color: #875fc0;
    margin-right: 15px;
}

.button {
    text-align: center;
}

.styling {
    list-style-type: none;
}